*.sh
Data/gz_desi_deep_learning_catalog_friendly.parquet
Code/lightning_logs
*.pyc
logs
lightning_logs
Data/desi_data_full.csv
Metrics/g_resnet18_cut_dataset_repeat/version_0/model.pt
Metrics/g_resnet18_cut_dataset_repeat/version_1/model.pt
Metrics/g_resnet18_cut_dataset_repeat/version_2/model.pt
Metrics/g_resnet18_cut_dataset_repeat/version_3/model.pt
Metrics/g_resnet18_cut_dataset_repeat/version_4/model.pt
Metrics/g_resnet50_cut_dataset_repeat/version_0/model.pt
Metrics/g_resnet50_cut_dataset_repeat/version_1/model.pt
Metrics/g_resnet50_cut_dataset_repeat/version_2/model.pt
Metrics/g_resnet50_cut_dataset_repeat/version_3/model.pt
Metrics/g_resnet50_cut_dataset_repeat/version_4/model.pt
Metrics/g_resnet18_cut_dataset_flip_eq/version_0/model.pt
Metrics/g_resnet18_cut_dataset_c_repeat/version_0/model.pt
Metrics/g_resnet18_cut_dataset_c_repeat/version_1/model.pt
Metrics/g_resnet18_cut_dataset_c_repeat/version_2/model.pt
Metrics/g_resnet18_cut_dataset_c_repeat/version_3/model.pt
Metrics/g_resnet18_cut_dataset_c_repeat/version_4/model.pt
Metrics/g_resnet18_cut_dataset_r_repeat/version_0/model.pt
Metrics/g_resnet18_cut_dataset_r_repeat/version_1/model.pt
Metrics/g_resnet18_cut_dataset_r_repeat/version_2/model.pt
Metrics/g_resnet18_cut_dataset_r_repeat/version_3/model.pt
Metrics/g_resnet18_cut_dataset_r_repeat/version_4/model.pt
